html {
}

section {
  width: 600px;
  margin: 0 auto;
}

div.wordwrap {
  position: relative;
  height: 100px;
  margin: 300px 0;
  }
  div.block {
    display: none; position: absolute;
    width: 100%; height: 120px;
    top: -14px;
    background: #333;
    opacity: 0.2;
    z-index: 99;
    }
    div.blockleft  { right: -2px; }
    div.blockright { left: -2px; }
  div.wordleft {
    position: relative; float: left;
    width: 32%; height: 100px;
    border: 4px solid #000;
    border-right-width: 2px;
    border-left: none;
  }
  div.wordright {
    position: relative; float: right;
    width: 68%; height: 100px;
    margin-bottom: 200px;
    border: 4px solid #000;
    border-left-width: 2px;
    border-right: none;
  }

h1.word {
  display: block;
  padding: 35px 0 40px; margin: 8px 0 0 -62px;
  font-size: 48px;
  line-height: 0px;
  background: #fff;
  color: #000;
  }
h1.navbar-brand {
  padding: 0 10px 0 20px; margin: 0;
  line-height: 45px;
  color: #000 !important;
  }
  h1.word span,
  h1.navbar-brand span{
    color: #f00;
  }

.wpm {
  width: 60px !important;
}

.progress { 
  display: inline-block; position: relative;
  width: 300px; height: 20px;
  margin: 0 20px 0 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
  vertical-align: middle;
  }
  .progress .progress-bar {
    position: absolute;

  }

a#load{ 
  margin-right: 20px;
}

div.text {
  display: none;
}

