html {
}

section {
  width: 600px;
  margin: 0 auto;
}

h1.word {
  height: 500px;
  text-align: center;
  line-height: 500px;
}

a#button { 
  margin: 20px auto;
}

div.text {
  height: 500px;
  overflow: hidden;
  color: #888;
}

